*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  
}
body{overflow-x: hidden;}
div.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
div.grid-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  width:1024px;
  padding: 40px;
  border-radius: 10px;
}
div.front-card{
  width: 400px;
  height: 700px;
  background: #e27396;
  border-radius:20px;
  display: flex;
  margin:0 20px;
  transition: 0.5s ease-in-out;
  transform:
    perspective(600px)
    rotateY(25deg) 
    rotateX(10deg);
}

div.black-area{
  position: relative;
  width:100px;
  height: 700px;
  background:#232526;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

div.card-content{
  position: relative;
  width:300px;
  height:700px;
  padding:20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

div.chip-area{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100px;
}

div.back-card{
  position: absolute;
  width: 400px;
  height: 700px;
  background: #e27396;
  border-radius:20px;
  display: flex;
  margin:0 20px;
  z-index: -1;
  transform:
    perspective(599px)
    rotateY(25deg) 
    rotateX(10deg);
  
}

div.back-card > div.black-area{
  position: relative;
  width:100px;
  height: 700px;
  background:#232526;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

span.card-number{
  color:#F3F4F5;
  font-size: 1.2em;
}

div.user-area{
  padding:20px 0;
}

span.username{
  font-weight: bold;
  font-size: 1.6em;
  color:#f3f4f5;
}

div.user-data{
  width: 100%;
  height: 100%;
  padding: 20px;
}

div.user-data > label,div.card-color > span{
  font-size:1.2em;
  font-weight: bold;
  display: block;
  color:#202020;
  display: block;
}

div.user-data > input{
  border: 1px solid #202020;
  background: #202020;
  padding: 10px;
  margin:10px 0;
  border-radius:10px;
  color: #FFF;
}

div.card-color{
  margin:20px 0;
}
div.card-color > button{
  border:none;
  padding: 20px;
  margin:10px;

}

button#btn-color1{
  background-color: #e27396;
}

button#btn-color2{
  background-color: #3aa6b9;
}

button#btn-color3{
  background-color:#f86703 ;
}
button#btn-color4{
  background-color: #A0C49D;
}

div.card-view button{
  padding: 10px;
  background-color: #202020;
  color:#FFF;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  margin: 10px;
}

footer.footer{
  background-color: #202020;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}

footer.footer > span{
  color:#FFF;
  font-size: 18px;
}
footer.footer > a{
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
}
.visible{
  opacity: 1;
}
.not-visible{
  opacity: 0;
  transition: 0.5s ease-in-out;
}

@media(max-width:576px){
  div.wrapper{
    width: 100%;
    height: 100%;
  }
  div.grid-wrapper{
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 5px;
    
  }
  div.front-card{
    position: relative;
    width: 300px;
    height: 500px;
  }
  div.back-card{
    width: 300px;
    height: 500px;
  }
  div.black-area,div.back-card > div.black-area{
    height: 500px;
  }
  div.card-content{
    height: 500px;
  }
  div.user-data{
    width: 100%;
    padding: 20px;
    margin-top:40px;
  }
}